
@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/Register.css" />

<div class="register-wrapper">
    <div class="register-card">

        <h2>Create a New Account</h2>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control"/>
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger small"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger small"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger small"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100 mb-3">Register</button>

            <div class="text-center register-links">
                <p><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Already have an account? Log in</a></p>
            </div>
        </form>

        <hr />

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
