
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
     var email = User.Identity.Name;
        var displayName = email != null && email.Contains("@") ? email.Split('@')[0] : email;

    
    <div class="d-flex align-items-center">

        <div class="user-box">
            <i class="fa-solid fa-user"></i>
            <span class="user-welcome">
                    Hello, <span class="user-name">@displayName!</span>
            </span>
        </div>

        <a class="logout-btn ms-3"
           asp-area="Identity"
           asp-page="/Account/Logout">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
        </a>
    </div>
    <script>
        window.loggedInUserName = "@displayName";
    </script>
}
else
{
     string currentPage = Context.Request.Path.ToString().ToLower();

    <div class="d-flex align-items-center gap-2">

        @if (currentPage.Contains("/account/login"))
        {
            <a class="btn btn-nav"
               asp-area="Identity"
               asp-page="/Account/Register">
                Register
            </a>
        }
        else
        {
            <a class="btn btn-nav"
               asp-area="Identity"
               asp-page="/Account/Login">
                Login
            </a>
        }

    </div>
}
